@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --color-primario:#F3F5FC;
    --color-secundario:#0A3871;
    --color-terciario:#D8DFE8;
    --color-hover:#272727;
    --fuente-Jost:'Jost', sans-serif;
    --fuente-Inter: 'Inter', sans-serif;
    --fuente-montserrat:'Montserrat', sans-serif;
    --fuente-krona: 'Krona One', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    background-color:var(--color-primario);
}

main{
    display: flex;
    margin-bottom: 0px;
    margin-left: 130px;    
    gap: 250px;
}

.logo{
    padding-top: 40px;
    margin-left: 40px;
    width:10%;
}

.textArea__encriptar{    
    border: none;
    color: var(--color-secundario);
    font-size: 30px;
    font-family: var(--fuente-Jost);    
    margin-top: 90px;
    /*text-transform: lowercase;*/
    resize: none;
}

.textArea__encriptar::placeholder{    
    text-align: left;
    font-size: 30px;
    color: var(--color-secundario);
    
}

.textArea__encriptar:focus{
    outline: none;
}

/*Caja de Texto desencriptado*/
.texto-encriptado__presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;        
}
.texto-encriptado__text-area{
    resize: none;
    background-color: white;
    background-repeat: no-repeat;
    background-image: url(assets/img/Muñeco.png);
    background-position: center 130px;    
    border-radius: 24px;
    color: #2196F3;    
    margin-top: -50px;       
}
.texto-encriptado__text-area::placeholder{
    color: var(--color-hover);
    position: absolute;
    text-align: center;    
    bottom: 80px;
    
}

.texto-encriptado__text-area:focus{
    outline: none;
}

.texto-encriptado__mensaje__presentacion{
    display: flex;
    flex-direction: column;
    margin-top: -240px;
    text-align: center;    
    background-color: white;
    gap: 16px;
}
.texto-encriptado__mensaje__strong{
    color: #343A40;
    font-family: var(--fuente-Inter);
    font-weight: 600;
    font-size: 24px;
    background-color: white;
}
.texto-encriptado__mensaje__normal{
    color: #495057;
    font-family: var(--fuente-Inter);    
    background-color: white;
    font-size: 16px;
}

.texto-encriptado__boton{
    background-color: white;
}

img{
    background-color: transparent;
}

.botones{
    display: flex;
    margin-top: 18px;        
}

.btn__encriptar{
    background-color: var(--color-secundario);
    border: 1px solid var(--color-secundario);
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn__desencriptar{
    background-color: var(--color-terciario);
    border: 1px solid var(--color-terciario);
    border-radius: 24px;
    color: var(--color-secundario);
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn__copiar{
    border: 1px solid blue;
    border-radius: 24px;    
    color: blue;
    cursor:pointer;
    height: 40px;
    width: 328px;
    margin-top: 70px;  
    background-color: white;       
}


/* Estilo cartel de "Solo letras minúsculas y sin acentos."*/
.presentacion__informacion{
    display: flex;
    gap: 8px;
}
.informacion{
    color: #495057;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
}

/*Estilo del Pie de Página*/

.footer__presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.footer__presentacion__nombre{
    display: flex;   
    align-items: center;
}
.footer__iconos{
    width: 32px;
    height: 30px;
}
.footer__presentacion__iconos{
    display: flex;
    text-align: center;
    gap: 100px;
}
footer{
    margin-top: 20px;
}